.chapter-list {
  position: relative;
  .story-sort {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      color: #bd953d;
    }
    &.active {
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }
  .chapter-name {
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #bd953d;
    }
    span {
      font-size: 0.8em;
      margin-left: 5px;
      color: #333;
      font-weight: 300;
    }
  }
}
