.story-reading {
  padding: 10px;
  .avatar {
    width: 40px;
    height: 60px;
  }
  .name {
    font-weight: 600;
    font-size: 1.1em;
  }
  .chapter-reading {
    .trash-icon {
      font-size: 15px;
      &:hover {
        color: rgb(223, 70, 70);
      }
      cursor: pointer;
    }
  }
  .continue-reading-btn {
    font-size: 14px;
    color: rgb(223, 70, 70);
    text-decoration: none;
    font-weight: 600;
  }
}
