.story-reading-home {
  .all-story-title {
    font-size: 1.5em;
    font-weight: 600;
  }
  .all-story {
    display: none;
    color: #bd953b;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #333;
    }
  }
  &:hover {
    .all-story {
      display: block;
    }
  }
}
