.story-detail-main {
  background: #f5f5f5;
  padding: 10px;
  .story-detail {
    position: relative;
    min-height: 340px;
    .story-detail-image {
      img {
        width: 200px;
        height: 270px;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .story-detail-title {
      font-size: 2em;
      color: #333;
      font-weight: 700;
      margin: 10px 0;
    }
    .story-detail-genre {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
      li {
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .story-detail-full {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0;
      li {
        font-weight: 600;
        padding: 5px 10px;
        text-align: center;
        font-size: 1.2em;
        span {
          display: block;
          color: #999;
          font-weight: 400;
        }
      }
    }
    .story-detail-rate {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .star {
        margin-right: 10px;
      }
      color: #333;
      font-size: 1.2em;
      font-weight: 600;
      span {
        font-size: 1em;
        font-weight: 400;
      }
    }
    .story-detail-action {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 10px;
      margin: 0;
      li {
        margin: 5px;
        cursor: pointer;
        padding: 10px 15px;
        font-weight: 600;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        min-width: 140px;
        span {
          margin-left: 5px;
        }
        &.story-detail-read {
          background: #bd953b;
          &.active {
            background: #e34608;
          }
          span {
            color: #fff;
            font-weight: 600;
          }
        }
        &.story-detail-mark {
          background: #fcdefd;
        }
        &.story-detail-suggest {
          background: #dfcafc;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .story-detail {
      .story-detail-image {
        display: flex;
        justify-content: center;
      }
      .story-detail-info {
        .story-detail-title {
          font-size: 1.2em;
          text-align: center;
        }
        .story-detail-genre {
          justify-content: center;
        }
        .story-detail-rate {
          align-items: center;
        }
        .story-detail-full {
          justify-content: center;
        }
        .story-detail-action {
          flex-direction: column;
        }
      }
    }
  }
}
