.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block !important;
}
.dropdown {
  .btn-dropdown {
    border: none;
    outline: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  .dropdown-menu {
    ul li {
      padding: 5px 0;
    }
    ul li:hover {
      color: #bd953b;
      cursor: pointer;
    }
  }
}
