.dropdown {
    .dropdown-btn {
        border          : none;
        outline         : none;
        background-color: transparent;
    }

    .dropdown-content {
        padding-top   : 20px;
        display       : flex;
        flex-direction: row;
        width         : 300px;
        flex-wrap     : wrap;

        .list-item {
            width : 150px;
            border: none;


        }

    }
}