#chapter-list-main {
  position: relative;
  padding-top: 20px;
  .chapter-list-action {
    .story-sort {
      font-size: 1.5em;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        color: #bd953d;
      }
      &.active {
        transform: rotate(180deg);
        transition: 0.5s;
      }
    }
  }

  .chapter-list-content {
    display: flex;
    flex-wrap: wrap;
    .chapter-list-name {
      display: flex;
      a {
        width: 500px;
        font-weight: 400;
        font-size: 1em;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #bd953d;
        }
        span {
          font-size: 0.8em;
          margin-left: 5px;

          font-weight: 300;
        }
      }
    }
  }
}
