.left-menu {
  width: 70px;
  position: fixed;
  right: 10px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.control {
  .change-color {
    display: flex;
    flex-direction: row;

    .background {
      width: 30%;
    }
    .colors {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      .color-item {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid black;
        outline: none;
      }
    }
  }
  .change-font-family {
    display: flex;
    flex-direction: row;
    .font-family-title {
      width: 30%;
    }
    .font-family {
      width: 70%;
    }
  }
  .change-font-size {
    display: flex;
    flex-direction: row;
    .font-size-title {
      width: 30%;
    }
    .font-size {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
