.btn-login {
    border          : none;
    outline         : none;
    background-color: transparent;
    font-weight     : 600;

    &:hover {
        color: #bd953b;
    }

    &.active {
        color          : #bd953b;
        text-decoration: underline;
    }
}

.btn-verify-email {
    border          : none;
    outline         : none;
    background-color: transparent;
    font-weight     : 600;
    color           : #bd953b;


}

.btn-forgot-password {
    border          : none;
    outline         : none;
    background-color: transparent;
    font-weight     : 600;
    color           : #bd953b;


}

.btn-register {
    border          : none;
    outline         : none;
    background-color: transparent;
    font-weight     : 600;

    &:hover {
        color: #bd953b;
    }

    &.active {
        color          : #bd953b;
        text-decoration: underline;
    }
}