.register-form {
  padding: 20px;
  .register {
    display: flex;
    justify-content: center;
    padding: 10px;
    button {
      padding: 10px 20px;
      border-radius: 10px;
      background: #bd953b;
      color: #fff;
      font-weight: 600;
      font-size: 1em;
      outline: none;
      border: none;
    }
  }
  .no-account {
    padding: 20px;
    span {
      text-decoration: none;
      color: #bd953b;
      font-size: 1em;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
@media (max-width: 576px) {
  .register-form {
    padding: 5px;
    width: 300px;
  }
}
